.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
demographicchart/.gitignore
demographicchart/build.gradle
demographicchart/demographicchart.iml
demographicchart/proguard-rules.pro