.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.idea/
.DS_Store
/build
/captures
app/build.gradle
app/app.iml
demographicchart/build.gradle
demographicchart/.gitignore
demographicchart/build.gradle
demographicchart/demographicchart.iml
demographicchart/proguard-rules.pro

.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml